<section class="heroSection">
  <article class="heroSection_header">
    <div class="header_personProfile">
      <div class="personProfile_data">
        <h2>Josué Sifuentes Alvarez</h2>
        <!--<label>&#64;JosueSifuentes</label>-->
      </div>
      <h1>Programador Full Stack</h1>
      <!--<button>Ver CV</button>-->
      <ul class="heroSection_descriptionList_Desktop">
        <li>Estudiante de ingeniería de sistemas <strong>apasionado por la programación</strong> y soluciones innovadoras.</li>
        <li><strong>Proactivo y adaptable</strong> a nuevas tecnologías, busco oportunidades desafiantes para contribuir al desarrollo de soluciones tecnológicas.</li>
        <li class="descriptionList_jobStatus">
          Actualmente abierto a ofertas laborales <img src="assets/img/jobIcon.svg" alt="Un icono de un maletin"/>
        </li>
      </ul>
    </div>
  </article>
  <img src="assets/img/profileIMG.jpg" alt="Una foto de Josue Sifuentes Alvarez, programador Full Stack"/>
  <ul class="heroSection_descriptionList_Mobile">
    <li>Estudiante de ingeniería de sistemas <strong>apasionado por la programación</strong> y soluciones innovadoras.</li>
    <li><strong>Proactivo y adaptable</strong> a nuevas tecnologías, busco oportunidades desafiantes para contribuir al desarrollo de soluciones tecnológicas.</li>
    <li class="descriptionList_jobStatus">
      Actualmente abierto a ofertas laborales <img src="assets/img/jobIcon.svg" alt="Un icono de un maletin"/>
    </li>
  </ul>
</section>



